version: '3.9'

volumes:
  nextcloud:
  db:

services:
  app:
    image: nextcloud
    restart: always
    ports:
      - {{ nexcloud_port }}:80
    volumes:
      - nextcloud:/var/www/html
    environment:
      - MYSQL_PASSWORD={{ mysql_password }}
      - MYSQL_DATABASE={{ mysql_database }}
      - MYSQL_USER={{ mysql_user }}
      - MYSQL_HOST={{ mysql_host }}